@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bs-warning: #fe9f10;
	--bs-font-sans-serif: Poppins, sans-serif !important;
	--bs-warning-rgb: 254, 159, 16;
	--bs-link-hover-color-rgb: #fe9f10;
	--bs-light-rgb: 255, 248, 224;
}
.btn:hover i {
	color: #fe9f10;
}

h1,
h2 {
	font-family: "Lobster";
}

.nav-link.active {
	color: var(--bs-warning) !important;
	font-weight: bold;
}
.hero {
	opacity: 0.5;
	background-image: url(assets/gabGab.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 50vh;
}
.nav-link:focus,
.nav-link:hover {
	color: var(--bs-warning);
}

.food-item.hide {
	display: none;
}

.btn.active {
	color: white;
}

.img-line {
	width: 50%;
	height: 1px;
	margin: 0 15px;
	border-bottom: 1px dashed #7d7d7d;
}

#reserve form input {
	border: none;
	background: transparent;
	margin: 1rem 0rem;
	padding: 1rem;
	color: white;
	border-radius: 0;
	border-bottom: 1px solid white;
}
#reserve form input::placeholder {
	color: currentColor;
}

.icon {
	background: #fff8e2;
}
.icon img {
	width: 100%;
}

.border-right {
	border-right: 1px dashed #ccc;
}

#iconic {
	clip-path: circle(40%);
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 50%;
	}
}
